body
{
	background:url(vcvc.png);
	color:white;
	font-size:20px;
	font-family:Times New Roman,Times,serif;
	position:center;
	padding:0;
	margin:0;
	
}
h1
{
	color:yellow;
	text-align:center;
	
}
.box
{
	
	width:400px;
	height:500px;
	background: #000;
	color:white;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
    box-sizing:border-box;
	padding: 20px 30px;
	box-shadow: 0px 0px 15px 3px rgba(0,0,0,1);
  

}